body{
	font-family:Calibri, Arial, 微軟正黑體;
	font-size:1.2em;
	background-color:black;
}


input,select,textarea{
	font-family:Calibri, Arial, 微軟正黑體;	
	font-size:1.2em;
}
textarea{
	overflow-x:hidden;
	overflow-y:auto;
	height:100px;
	width:300px;
	margin-top:10px;
}
input.text{
	width:300px;
}
	
	
table{
	border-collapse:collapse;
	white-space:nowrap;
}
td{
	border:1px solid black;
	padding:3px 5px;
}