body{
	font-family:Calibri, Arial, 微軟正黑體;
	font-size:1em;
}


input,select{
	font-family:Calibri, Arial, 微軟正黑體;	
}
	input.button{
		width:100px;
	}		
	input.short{
		width:60px;
	}		
	input.center{
		text-align:center;
	}	

	
table{
	border-collapse:collapse;
	white-space:nowrap;
}
td{
	border:1px solid black;
	padding:3px 5px;
}
	td.unborder{
		border:0px;
	}
	td.unpadding{
		padding:0px;
	}
	td.right{
		text-align:right;
	}
	td.center{
		text-align:center;
	}
	td.bold{
		font-weight:bold;
	}
	td.upperline{
		border:0px;
		border-top:2px solid black;
	}
	tr.lightgray{
		background:lightgray;
	}
	td.short{
		width:60px;
	}
	td.red{
		color:red;
	}
	td.small{
		font-size:0.8em;
	}
	td.middle{
		font-size:0.9em;
	}	